/*========== fonts ==========*/
@import url("https://fonts.googleapis.com/css?family=DM+Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*========== Variables ==========*/
:root {
  --modal-duration: 0.8s;
  --font-size-xxl: 6rem;
  --font-size-l: 1.5rem;
  --font-size-m: 1.125rem;
  --container-margin-inline: 100px;
  --container-margin-block: 58px;
  --container-gap: 58px;
  --topnav-height: 80px;
  --color-second: #FE142F;
  --color-danger: #FF4E60;
  --green: #279e7a;
}

/*========== reset ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  gap: var(--container-gap);
  font-size: var(--font-size-m);
  font-family: "DM Sans";
  width: 100vw;
  max-width: 1300px;
  margin: auto;
  padding-block: var(--container-margin-block);
}
body.scroll-hidden {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*========== header ==========*/
.header {
  width: 100%;
  height: var(--topnav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  float: left;
}
.header-logo img {
  height: calc(var(--font-size-xxl) / 2);
}
.header-navbar {
  float: right;
  align-items: center;
  justify-content: center;
}
.navbar {
  display: flex;
  gap: 10px;
}
.navbar-toggler {
  display: none;
}
.nav-item {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 9px 14px 9px 12px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
.nav-item:hover, .nav-item.active {
  background-color: var(--color-second);
  color: #fff;
  border-radius: 15px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.nav-item a.active span {
  border-bottom: 1px solid #fff;
}

/*================= Hero =================*/
.hero-section {
  height: 657px;
}
.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--container-gap);
  padding: 56px;
  font-size: 1.5rem;
}
.hero-content > * {
  position: relative;
}
.hero-headline {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  white-space: nowrap;
}
.hero-text {
  width: 100%;
  font-weight: 500;
  font-size: var(--font-size-l);
}
.hero-img {
  position: relative;
}
.hero-img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.hero-section > .btn-signup {
  display: none;
}

/*========== modal ==========*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: auto;
}
.modal.is-open {
  display: grid;
}
.modal-content {
  width: 100%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  padding: 20px 0;
  border-radius: 10px;
  position: relative;
  color: #fff;
}
.modal-body {
  padding: 44px 38.48px 0 38.84px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*==== button close modal ====*/
.close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close::before, .close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
/*========== form ==========*/
form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 100%;
}
label,.text-label {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 17px;
}
.text-label {
  width: 100%;
}
.text-control {
  outline: none;
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 64px;
  border: 1px solid #C4C4C4;
}
.formData[data-error] {
  position: relative;
  margin-bottom: 11px;
}
.formData[data-error]::after {
  left: 0;
  bottom: -20.5px;
  position: absolute;
  content: attr(data-error);
  font-size: 10px;
  font-family: "Roboto";
  color: var(--color-danger);
  display: block;
  line-height: 14px;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible=true]::after {
  opacity: 1;
}
.formData[data-error-visible=true] .text-control {
  border: 2px solid var(--color-danger);
}

/*========== input ==========*/
/*== radio + checkbox ==*/
.radio-input, .checkbox-input {
  display: none;
}
.radio-label, .checkbox-label {
  padding: 4.5px 0;
  margin-bottom: 12px;
  position: relative;
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.radio-input:checked + .radio-label .radio-icon::after, .radio-input:checked + .radio-label .checkbox-icon::after, .radio-input:checked + .checkbox-label .radio-icon::after, .radio-input:checked + .checkbox-label .checkbox-icon::after, .checkbox-input:checked + .radio-label .radio-icon::after, .checkbox-input:checked + .radio-label .checkbox-icon::after, .checkbox-input:checked + .checkbox-label .radio-icon::after, .checkbox-input:checked + .checkbox-label .checkbox-icon::after {
  opacity: 1;
}
.radio-label .radio-icon, .radio-label .checkbox-icon, .checkbox-label .radio-icon, .checkbox-label .checkbox-icon {
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
  width: 25px;
  height: 25px;
}
.radio-label .radio-icon::after, .radio-label .checkbox-icon::after, .checkbox-label .radio-icon::after, .checkbox-label .checkbox-icon::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  opacity: 0;
}

/*== radio ==*/
.radio-label {
  margin-right: 25px;
}
.radio-label .radio-icon {
  border: 1px solid var(--green);
  border-radius: 50%;
  box-sizing: content-box;
}
.radio-label .radio-icon::after {
  left: 50%;
  top: 50%;
  width: 17px;
  height: 17px;
  background-color: var(--green);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/*== checkbox ==*/
.checkbox-label {
  min-width: 60%;
}
.checkbox:nth-child(2) {
  margin-bottom: 8.5px;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon {
  background: var(--green);
}
.checkbox-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox-label .checkbox-icon::after {
  left: 21%;
  top: 19%;
  width: 7px;
  height: 4px;
  background: transparent;
  border-radius: 2px;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
}

/*========== buttons ==========*/
.btn {
  display: block;
  color: #fff;
  background: var(--color-second);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
  box-shadow: 0 2px 7px 2px rgba(255, 255, 255, 0.299);
}
.btn-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 30px;
  margin: 1rem auto;
  font-size: var(--font-size-l);
  border: none;
}
.btn-submit {
  background: var(--color-second);
  margin: 0 auto;
  font-size: 1rem;
  padding: 11px 30px;
  font-size: var(--font-size-l);
}

/*========== footer ==========*/
.copyrights {
  color: var(--color-second);
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Roboto";
}

/*====== all desktop screen ======*/
@media screen and (min-width: 769px) {
  /*== hero ==*/
  .hero-section {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
  }
  .hero-content {
    color: #fff;
    width: 43.8%;
  }
  .hero-content::before {
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 100%;
    top: 0;
    left: 0;
    background: #232323;
    border-radius: 8px 0px 0px 8px;
  }
  .hero-img {
    width: 58.87%;
    border-radius: 0px 8px 8px 0px;
  }
  /*== modal ==*/
  .modal-content {
    margin-block: 20px;
    max-width: 536px;
  }
  .checkbox-icon::after {
    left: 25%;
    top: 25%;
  }
  footer {
    margin-inline-start: -30px;
    margin-block: 30px;
  }
}
/*====== desktop screen [769 <--> 1440] screen ======*/
@media screen and (min-width: 769px) and (max-width: 1440px) {
  /*== Variables ==*/
  :root {
    --size: (100vw/1440);
    --font-size-xxl: calc( var(--size) * 96);
    --font-size-l: calc( var(--size) * 24);
    --font-size-m: calc( var(--size) * 18);
    --font-size-s: calc( var(--size) * 15);
    --container-gap: calc( var(--size) * 40);
    --container-margin-inline: calc( var(--size) * 100);
    --container-margin-block: calc( var(--size) * 58);
    --topnav-height: calc( var(--size) * 80);
  }
  body {
    width: calc(var(--size) * 1239);
  }
  .navbar {
    gap: calc(var(--size) * 10);
  }
  .hero-section {
    height: calc(var(--size) * 657);
  }
  .hero-content {
    gap: 4vw;
    padding: 4vw;
  }
}

/*====== mobile and tablet screen ======*/
@media screen and (max-width: 768px) {
  /*== Variables ==*/
  :root {
    --size: (100vw/414);
    --font-size-xxl: calc( var(--size) * 40);
    --font-size-l: calc( var(--size) * 13);
    --font-size-m: calc( var(--size) * 10);
    --container-gap: calc( var(--size) * 15);
  }
  /*== reset/body ==*/
  body {
    padding: 80px calc(var(--size) * 30) calc(var(--size) * 20);
  }
  /*== header ==*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 calc(var(--size) * 30);
    background-color: #fff;
  }
  .header-logo img {
    height: 19px;
  }
  .navbar {
    display: none;
  }
  .navbar-toggler {
    display: block;
    color: var(--color-second);
    border-radius: 8px;
    padding: 0.7rem;
    font-size: calc(var(--size) * 14);
  }
  .is-open .navbar-toggler {
    background-color: var(--color-second);
    color: #fff;
  }
  .is-open .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 74px;
    padding: 1rem;
    right: 30px;
    z-index: 100;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  }
  /*== hero ==*/
   .hero-section {
    display: grid;
    height: auto;
    gap: var(--container-gap);
  }
  .hero-content {
    padding: 0;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-section > .btn-signup {
    display: flex;
  }
  .hero-img {
    height: 85.5vw;
    border-radius: 8px;
  }
  /*== components ==*/
  /* modal */
  .modal {
    height: calc(100% - 80px);
    width: 100vw;
    margin-top: 80px;
  }
  .modal-content {
    border-radius: 8px 8px 0 0;
  }
  .modal-body {
    padding: calc(var(--size) * 30);
  }
  .modal .close {
    right: calc(var(--size) * 30);
  }
  /* form */
  form {
    gap: 10px;
  }
  .text-control {
    height: 50px;
  }
  .formData label, .text-label {
    margin-bottom: 10px;
  }
  .checkbox-icon, .radio-icon {
    width: 20px !important;
    height: 20px !important;
  }
  .radio-label {
    margin-right: 3px;
  }
  .radio-label .radio-icon::after {
    width: 13px;
    height: 13px;
  }
  /*== footer ==*/
  .copyrights {
    text-align: center;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

